.table-drawer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 50%;
  width: 100%;
  overflow: hidden;
  background-color: #e7f6fe;
  border-radius: 24px;
  transform: translateX(100%);
  transition: 0.3s;
  overflow-y: auto;
  padding: 0 16px 0 24px;

  &.opened {
    transform: translateX(0);
  }
}

.table-drawer__top-buttons {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}

.table-drawer__title {
  padding: 10px 0;
  color: #0085ff;
  font-weight: 900;
}

.table-drawer__input-wrapper {
  width: 48px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;

  &.open {
    width: 300px;

    input {
      padding: 0 55px 0 10px;
    }
  }

  input {
    height: 48px;
    border: 0;
    width: 100%;
    border-radius: 8px;
  }

  .table-drawer__plus-button {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background: #0085ff;
    font-size: 30px;
    color: #ffffff;
    font-weight: 100;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 7px 2px 11px -1px rgba(86, 182, 234, 0.38);
  }
}

.table-drawer__close-button {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;

  img {
    vertical-align: middle;
  }
}
