.todo {
  margin: 10px 0;
  background: #ffffff;
  border-radius: 24px;
  height: 87px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0 24px;
  box-shadow: 4px 4px 11px rgba(0, 133, 255, 0.11);
}

.todo__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo__status {
  display: inline-flex;
  color: #ffffff;
  padding: 5px 16px 5px 10px;
  border-radius: 8px;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;

  &.pending {
    background: #fc9700;
  }

  &.completed {
    background: #03bc90;
  }

  img {
    margin-right: 5px;
  }
}

.todo__body {
  width: calc(100% - 170px);
}

.todo__button {
  background: #0085ff;
  color: #ffffff;
  border-radius: 8px;
  width: 155px;
  height: 37px;
  line-height: 37px;
  font-size: 18px;
  font-weight: 300;

  &.disabled {
    background: #c7c7c7;
    cursor: default;
  }
}
